:root {
  --background-color: rgba(212, 0, 255, 0.16);
  --heading-font: "Secular One", sans-serif;
  --main-font: "Poppins", sans-serif;
  --btn-contact-color: rgba(140, 138, 255, 0.3);
  --img-border-color: rgba(255, 255, 255, 0.2);
}

body {
  background-color: #000000;
  color: #fff;
  font-family: var(--main-font);
}

/* -----------------------style the dropdoen menu here */
.dropdown-menu { 
  background: var(--background-color);
}

.dropdown-item { 
  color: white;
  padding: 0.3rem 1rem 0.3rem 1rem;
  
}

/* ------------------------ end of dropdown menu style */

.navbar {
  background-color: rgb(23, 0, 27);
}

h1 {
  font-family: var(--heading-font);
  font-size: 75px;
}

h2 {
  margin-left: 5px;
  color: rgba(212, 0, 255, 0.8);
  font-size: 23px;
}

h3 {
  font-family: var(--heading-font);
  margin-left: 5px;
  font-size: 20px;
}

.background {
  background-color: var(--background-color);
}

.hero {
  padding-top: 100px;
  padding-bottom: 360px;
}

.hero img {
  border-radius: 20px;
  border: 5px solid var(--img-border-color);
}

.nav-link {
  color: #fff;
}

.nav-link:focus {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.logo {
  width: 50px;
  height: auto;
}

.homepage-photo {
  width: auto;
  max-height: 450px;
  margin: 0 auto;
}

.email-btn {
  color: #fff;
  font-size: 14px;
  padding: 12px 17px;
  background-color: var(--btn-contact-color);
  border-radius: 13px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 23px;
    margin-left: 0;
  }

  h3 {
    font-size: 20px;
  }

  .homepage-photo {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
    margin-left: 0;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .hero {
    text-align: center;
  }
}
